<h1>{{model.title}}</h1>
{{json-stringify model}}

<h2>Predicates:</h2>
<ul>
  {{#each model.predicates as |predicate|}}
    <li>
      <dl>
        <dd><h3>{{predicate.name}}</h3></dd>
        <dt>{{json-stringify predicate}}</dt>
      </dl>

      <dl>
        <dd><em>Objects:</em></dd>
        <dt>

          <ul>
            {{#each predicate.objects as |object|}}
              <li>
                <div>{{#link-to 'rdfobject' object.predicate.resource.id object.predicate.id object.id}}{{object.value}}{{/link-to}}</div>
                {{json-stringify object}}
              </li>
            {{/each}}
          </ul>
        </dt>
      </dl>
    </li>
  {{/each}}
</ul>
