<div><em>{{model.meta.id}}</em></div>
<div>time: <em>{{model.meta.elapsedTime}}</em></div>
<div>results: <em>{{model.meta.resultCount}}</em></div>

<ul>
  {{#each model as |resource|}}
    <li>
      <dl>
        <dd>{{#link-to 'resource' resource.id}}{{resource.title}}{{/link-to}}</dd>
        <dt>{{json-stringify resource}}</dt>
      </dl>
    </li>
  {{/each}}
</ul>

{{outlet}}

